body{
  margin: 0%;
  background-color: #8b8484;
}
.content{
  display: flex;
}
{
  text-align: left;
}  
header{
  width: 100vw;
  text-align: right;
  background-color: #3046e8;
  color:black;
  font-size: 52px;
  font-weight: bolder;
  display: flex;
  align-items: right;
  height:100px ;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
  
}


article{

  background-color: #ffffff;
  height: auto;
  width: 100vw;
  padding: 10px;
  text-align: center;
  
}

footer{
  background-color: #8b8484;
  bottom: 10px;
  width: 100%;
  height: 50px;
}
img{
  height: 80px;
  text-align: left;
}
.logo{
  text-align: left;
  width: 150px;
  height: 100px;
}


.topnav{
   background-color: #333;
  overflow: hidden;
  height: 50px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.bottomnav{
  background-color:#8b8484;
}
.worst{
  font-weight: bolder;
  font-size: 304px;
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}